# This file is managed by `terraform-github` `metadata upload`
# Do not manipulate this file manually or it will be overwritten
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @globality-corp/backend-codeowners
